{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "import/no-restricted-paths": [
    "error",
    {
      "zones": [
        {
          "target": "./core",
          "from": "./components"
        },
        {
          "target": "./core",
          "from": "./lib"
        },
        {
          "target": "./core",
          "from": "./pages"
        },
        {
          "target": "./lib",
          "from": "./pages"
        },
        {
          "target": "./components",
          "from": "./pages"
        }
      ]
    }
  ]
}
